.places__react {
    margin-top: 30px;
    min-height: 19px;
    min-width: 22px;
    border: 0;
    background-color: white;
    background-image: url(../../../images/reaction.svg);
    opacity: 1;
    transition: opacity 0.3s ease-in;
    padding: 0;
}

.places__react:focus {
    background-image: url(../../../images/reaction-active.svg);
}

.places__react:hover {
    opacity: 0.6;
    cursor: pointer;
}