.header {
    padding-top: 45px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 903px) {
    .header {
        padding-top: 28px;
        padding-bottom: 30.6px;
    }
}