.popup__heading {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    padding-bottom: 24px;
}

@media (max-width: 903px) {
    .popup__heading {
        font-size: 18px;
        padding-bottom: 45px;
    }
}