.footer__copyright {
    color: rgb(84, 84, 84);
    padding-top: 66px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 1.2;
}

@media (max-width: 903px) {
    .footer__copyright {
        font-size: 14px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}