.profile__add {
    width: 150px;
    height: 50px;
    margin-top: 35px;
    margin-left: 244px;
    border: 1px solid white;
    background-color: black;
    background: no-repeat url(../../../images/add-button.svg) center;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.profile__add:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 903px) {
    .profile__add {
        width: 282px;
        margin-left: 0;
        margin: 36px;
    }
}