.popup__close {
    width: 32px;
    height: 32px;
    border: 0;
    background: no-repeat url(../../../images/close-button.svg) center;
    background-size: contain;
    padding: 0;
    margin-left: 8px;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity 0.3s ease-in;
}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}

@media (max-width: 903px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}